*{
    font-family: montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: url('images/cyber-security.jpg');
    background-size:600px 600px;
    width: 500px;;
    height: 600px;
}
.header{
    width:500px;
    padding: 30px 30px;
    position: relative;
}
#header-img{
   float: left;
   height: 30px;
   width: 30px;
}
#header-text{
    position: absolute;
    left: 90px;
    top: 12px;
    padding: 30px 75px;
    color:rgb(255, 247, 0);
    font-size: 5px;
}

#loading-screen{
    margin-top:180px;
    text-align: center;
}

a{
    position: relative;
    text-decoration: none;
    color:red;
}

.loading-text{
    margin: 5px 10px;
}
#url_website{
    padding :36px 40px;
    margin:100px 30px;
    font-size: 20px;
    word-break: break-all;
    font-weight: bolder;
}
#url_website h3{
    color:white;
    font-weight:900;
}
#url{
    display: block;
    position:absolute;
    color: rgb(200, 253, 6);
}
#result{
    margin-top:180px;
    color: rgb(200, 253, 6);
    background-color: black;
    font-size: 50px;
    text-align: center;
    animation: blinker 0.6s linear infinite;
}


